html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.header {
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 100; */
}
.header__content {
    max-width: 1100px;
    margin: 0 auto;
    height: 72px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
text-decoration: none;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 0.8rem;
  color: #111;
}